<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="Files_Dir" value="~\Files\"/>
    <add key="ConnectionString" value="Data Source={0}\DBFile\neoe.db;Version=3;FailIfMissing=False;"/>
    <add key="PATH_TO_JQUERY" value="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"/>
    <add key="PATH_TO_JQUERY_UI" value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.1/jquery-ui.min.js"/>
    <add key="PATH_TO_CODEMIRROR_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"/>
    <add key="PATH_TO_CODEMIRROR_CONTINUELIST_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/edit/continuelist.min.js"/>
    <add key="PATH_TO_CODEMIRROR_XML_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/xml/xml.min.js"/>
    <add key="PATH_TO_CODEMIRROR_HINT_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.js"/>
    <add key="PATH_TO_CODEMIRROR_XML_HINT_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/xml-hint.min.js"/>
    <add key="PATH_TO_CODEMIRROR_DIALOG_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/dialog/dialog.min.js"/>
    <add key="PATH_TO_CODEMIRROR_SEARCHCURSOR_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/search/searchcursor.min.js"/>
    <add key="PATH_TO_CODEMIRROR_SEARCH_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/search/search.min.js"/>
    <add key="PATH_TO_CODEMIRROR_CSS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css"/>
    <add key="PATH_TO_CODEMIRROR_DIALOG_CSS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/dialog/dialog.min.css"/>
    <add key="PATH_TO_CODEMIRROR_HINT_CSS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.css"/>
    <add key="PATH_TO_CODEMIRROR_JS_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/javascript/javascript.min.js"/>
    <add key="PATH_TO_CODEMIRROR_JS_HINT_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/javascript-hint.min.js"/>
    <add key="PATH_TO_CODEMIRROR_HTML_HINT_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/html-hint.min.js"/>
    <add key="PATH_TO_CODEMIRROR_ANYWORD_HINT_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/anyword-hint.min.js"/>
    <add key="PATH_TO_CODEMIRROR_CLIKE_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js"/>
    <add key="PATH_TO_CODEMIRROR_PYTHON_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"/>
    <add key="PATH_TO_CODEMIRROR_PHP_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/php/php.min.js"/>
    <add key="PATH_TO_CODEMIRROR_PERL_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/perl/perl.min.js"/>
    <add key="PATH_TO_CODEMIRROR_CSS_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/css/css.min.js"/>
    <add key="PATH_TO_CODEMIRROR_CSS_HINT_JS" value="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/css-hint.min.js"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
</configuration>